[user]
  name          = Paul Joannon
  email         = hello@pauljoannon.com
[color]
  diff          = auto
  status        = auto
  branch        = auto
  interactive   = auto
[alias]
  prb           = pull --rebase
  st            = status
  svnpull       = svn rebase
  svnpush       = svn dcommit
  hist          = log --graph --pretty=format:\"%C(yellow)[%h]%Creset %C(green)%an%Creset %s %C(cyan)(%cr)%Creset\"
[core]
  excludesfile  = /home/paulloz/.gitignore
    pager       = diff-so-fancy | less --tabs=1,5 -R
