[user]
  name          = Paul Joannon
  email         = hello@pauljoannon.com
[color]
  diff          = auto
  status        = auto
  branch        = auto
  interactive   = auto
[alias]
  pull          = pull --ff-only
  st            = status
  kink          = log --graph --pretty=format:\"%C(yellow)[%h]%Creset %C(green)%an%Creset %s %C(cyan)(%cr)%Creset\"
  unstage       = reset -q HEAD --
  discard       = checkout --
  uncommit      = reset --mixed HEAD~
  amend         = commit --amend
  branches      = branch -a
  tags          = tag
  stashes       = stash list
[core]
  excludesfile  = /home/paulloz/.gitignore
  pager         = diff-so-fancy | less --tabs=1,5 -R
