- name: ensure zsh is installed and up to date
  package:
    name: zsh
    state: latest
- name: ensure oh-my-zsh is installed and up to date
  stat:
    path: ~/.oh-my-zsh/tools/upgrade.sh
  register: omz_stat_result
- package:
    name: curl
    state: present
  when: not omz_stat_result.stat.exists
  register: curl_installed
- shell:
    cmd: sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  when: not omz_stat_result.stat.exists
- shell:
    cmd: sh ~/.oh-my-zsh/tools/upgrade.sh
  when: omz_stat_result.stat.exists
- name: ensure zsh-autosuggestions is installed and up to date
  pacman:
    name: zsh-autosuggestions
    state: latest
  when: ansible_distribution == 'Archlinux'
- name: link theme file
  file:
    src: "{{ playbook_dir }}/zsh/paulloz.zsh-theme"
    dest: ~/.oh-my-zsh/custom/themes/paulloz.zsh-theme
    state: link
- name: link configuration file
  file:
    src: "{{ playbook_dir }}/zsh/.zshrc"
    dest: ~/.zshrc
    state: link
