"*":
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "linter-hlint"
      "synced-sidebar"
    ]
    ignoredNames: [
      ".git"
      ".tmp"
      ".pip"
    ]
    projectHome: "/home/paulloz/Documents/"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Liberation Mono"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "90d191b3-b4c1-9903-c304-0dd0050716cf"
  "file-icons":
    onChanges: true
  "highlight-selected": {}
  jshint:
    validateOnlyOnSave: true
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jscs":
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-pep8":
    maxLineLength: 100
  minimap:
    plugins:
      "highlight-selected": true
      "minimap-hide": true
      selection: true
    scrollAnimation: true
  "project-manager":
    sortBy: "title"
  "status-bar": {}
  "todo-show":
    ignoreThesePaths: [
      "node_modules/*"
      "vendor/*"
      "bower_components/*"
      ".tmp/*"
    ]
    showInTable: [
      "Text"
      "Type"
      "File"
      "Line"
    ]
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    preferredLineLength: 100
".diff.source":
  editor:
    preferredLineLength: 100
".null-grammar.plain.text":
  whitespace:
    removeTrailingWhitespace: false
".plain.text":
  whitespace:
    removeTrailingWhitespace: false
